/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
/* let's reset button also */
button {
  border: none;
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', 'Arial', sans-serif;
}
.hide {
  display: none;
}
.nav-container {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
.navbar {
  width: 100%;
  max-width: 1024px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: #99A4AF;
  color: #FFFFFF;
}
.navbar h1 {
  font-size: 2.4rem;
  font-weight: bold;
}
.navicon.open {
  background-image: url("../img/nav-hamburger.png");
  height: 21px;
  width: 32px;
}
.navicon.close {
  background-image: url("../img/nav-hamburger-close.png");
  height: 25px;
  width: 24px;
}
.navpane {
  background-color: #99A4AF;
  color: #504545;
}
footer {
  background-color: #828282;
  color: #FFFFFF;
  width: 100%;
  max-width: 1024px;
  margin: 50px auto 0;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  line-height: 2.6rem;
}
footer h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 5px;
}
footer .footer-main {
  width: 100%;
  padding: 10px 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer .footer-main .footer-contact {
  width: 280px;
}
footer .footer-main .footer-contact input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  color: #828282;
  font-size: 1.6rem;
  padding-left: 5px;
  margin: 5px 0;
}
footer .footer-main .footer-contact p {
  font-size: 1.3rem;
}
footer .footer-main .location {
  padding: 5px;
}
footer .copyright p {
  margin: 10px 0 5px;
  font-size: 1.2rem;
}
.home-container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  color: #222222;
  background-color: #FFFFFF;
}
.home-container .jumbotron {
  background-image: url("../img/home/home-jumbotron.png");
  height: 598px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.home-container .jumbotron h1 {
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 7.5rem;
  color: #FFFFFF;
  background-color: transparent;
  max-width: 350px;
  margin-left: 80px;
  margin-bottom: 50px;
}
.home-container h2 {
  /* style guide notwithstanding, the mockup is most definitely *not* 28px */
  font-size: 2.4rem;
  font-weight: bold;
}
.home-container p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.home-container .about {
  width: 100%;
  margin: 50px 0;
  padding: 0 7%;
}
.home-container .about .about-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.home-container .about .about-item:nth-child(even) {
  flex-direction: row-reverse;
}
.home-container .about .about-text {
  width: 48%;
}
.home-container .about .about-text p {
  margin: 30px 0;
}
.home-container .about .about-text button {
  border: 1px solid #222222;
  height: 50px;
  width: 140px;
  font-size: 1.6rem;
}
.home-container .about .about-text button:hover {
  cursor: pointer;
}
.home-container .about .about-image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 48%;
  height: 275px;
}
.home-container .about .about-img1 {
  background-image: url("../img/home/home-img-1.png");
}
.home-container .about .about-img2 {
  background-image: url("../img/home/home-img-2.png");
}
.home-container .recent {
  width: 100%;
  padding: 0 7%;
}
.home-container .recent .recent-item {
  padding-bottom: 30px;
}
.home-container .recent p {
  margin: 25px auto;
  width: 450px;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.home-container .recent .recent-box {
  position: relative;
  height: 270px;
  width: 100%;
  margin: 40px 0 50px;
}
.home-container .recent .recent-box .recent-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 100%;
}
.home-container .recent .recent-box .recent-img1 {
  background-image: url("../img/home/home-villas-img.png");
}
.home-container .recent .recent-box .recent-img2 {
  background-image: url("../img/home/home-outskirts-img.png");
}
.home-container .recent .recent-box .recent-img3 {
  background-image: url("../img/home/home-the-blocks-img.png");
}
.home-container .recent .recent-box .offset-box {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 90px;
  width: 320px;
  font-size: 2.6rem;
  font-weight: lighter;
  letter-spacing: 5px;
  background-color: #D8D8D8;
  color: #222222;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container .recent .recent-box .offset-even {
  right: unset;
  left: 0;
}
