// services-page styles

.services-container {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;

	color: @home-color;
	background-color: @home-bg;

	.services-jumbo {
	 	background-image: url("../img/services/services-jumbotron.png");
 		height: 250px;
 		width: 100%;
 		display: flex;
 		align-items: flex-end;
 		justify-content: flex-start;

		h1 {
			font-size: 6.4rem;
			font-weight: bold;
			color: @jumbo-color;
			background-color: transparent;
			margin-left: 8%;
			margin-bottom: 20px;
		}

	}

	.services-about {
		max-width: 84%;
		margin: 50px auto 30px;

		p {
			font-size: 1.6rem;
			line-height: 2.6rem;
			margin: 10px 0;
		}
	}

	@media @phone {
		max-width: 320px;

		.services-jumbo {
			background-image: url("../img/services/services-mobile-jumbotron.png");
 			height: 259px;

 			h1 {
 				font-size: 3.6rem;
 				margin-bottom: 25px;
 				margin-left: 6%;
 			}
		}

		.services-about {
			max-width: unset;
			margin: 30px 15px;
		}
	}


	h2 {
		font-size: 2.4rem;
		font-weight: bold;
	}

	p {
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin: 10px 0;
	}


	.services-tabs {
		max-width: 84%;
		margin: 0 auto;

		.svc-tab-links {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			align-content: space-around;


			.svc-tab-link {
				height: 50px;
				width: 185px;
				margin: 10px 0;
				border: 1px solid @home-color;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 2rem;
				font-weight: bold;
				&:hover {
					cursor: pointer;
				}
			}

			.svc-tab-link-selected {
				background-color: @tab-bg;
				color: @home-bg;
			}


		}



		.svc-tab-item-img1 {
			background-image: url("../img/services/tab-pre-construction-img.png");
		}
		.svc-tab-item-img2 {
			background-image: url("../img/services/tab-construction-img.png");
		}
		.svc-tab-item-img3 {
			background-image: url("../img/services/tab-design-build-img.png");
		}
		.svc-tab-item-img4 {
			background-image: url("../img/services/tab-sustainability-img.png");
		}


		@media @phone {
			.svc-tab-item-img1 {
				background-image: url("../img/services/tab-mobile-pre-construction-img.png");
			}
			.svc-tab-item-img2 {
				background-image: url("../img/services/tab-mobile-construction-img.png");
			}
			.svc-tab-item-img3 {
				background-image: url("../img/services/tab-mobile-design-build-img.png");
			}
			.svc-tab-item-img4 {
				background-image: url("../img/services/tab-mobile-sustainability-img.png");
			}
		}

	} // services-tabs

} // services-container
