
// Color assignments 
@nav-bg: @steel-grey;
@nav-color: @white;
@nav-hover: @brownish;  // despite what the style-guide says!

@footer-bg: @medium-grey;
@footer-color: @white;

@jumbo-color: @white;

@home-bg: @white;
@home-color: @dark-grey;
@button-border: @dark-grey;

@offset-bg: @light-grey;
@offset-color: @dark-grey;

@tab-bg: @gun-blue;



// Colors
@white: #FFFFFF;
@black: #000000;
@dark-grey: #222222;
@medium-grey: #828282;
@steel-grey: #99A4AF;
@light-grey: #D8D8D8;
@gun-blue: #5E9FB9;
@brownish: #504545;

// Media settings
@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";

